html {
	scroll-behavior: smooth;
}

.logo {
	width: 60px;
	height: 60px;
	margin-left: 50px;
}
.bg1,
.bg2,
.bg3 {
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 100% 100vh;
	background-attachment: fixed;
	background-position: center;
}
.bg1 {
	background-image: url("https://raw.githubusercontent.com/vamsipenmetsa7/mywebsite.github.io/master/images/bg1.jpg")
}
.bg2 {
		background-image: url("https://raw.githubusercontent.com/vamsipenmetsa7/mywebsite.github.io/master/images/bg2.jpg")

}

.bg3 {
		background-image: url("https://raw.githubusercontent.com/vamsipenmetsa7/mywebsite.github.io/master/images/bg3.jpg")
}

.mywebsite {
	padding-top: 250px;
	margin-left: 100px;
}
.imageCenter {
	margin: auto;
	display: block;
	padding-top: 10px;
}
.button {
	margin: auto;
	display: block;
	margin-top: 50px;
}
.boxShadow {
	box-shadow: 11px 14px 14px -9px;
}
.myImage1 {
	width: 450px;
	height: 450px;
}
.myImage2 {
	width: 250px;
	height: 250px;
}
.codeImg {
	max-width: 100%;
	height: 100%;
}

.nobullets {
	list-style-type: none;
}
.background {
	background-color: rgba(2, 36, 46, 0.664);
}
.brown {
	background-color:rgb(255, 123, 0);
}
.skyblue {
	background-color: rgba(70, 160, 187, 0.932);
}
.messagePad {
	padding-bottom: 20px;
}
.address {
	margin-left: 40px;
	margin-bottom: 10px;
}
.bullet {
	list-style-type: none;
	display: inline;
}
.icons {
	font-size: 36px;
	margin-right: 10px;
}
.map {
	width: 250px;
	height: 250px;
}
.book {
	padding-right: 5px;
}
.background1 {
	background-color: white;
}

.bg-dark {
	opacity: 0.7;
}

@media screen and (max-width: 992px) {
	.column {
		width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}
